@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #2563EB;
}

body {
  background-color: rgb(249 250 251);
  color: rgb(17 24 39);
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}
